@import url(./general.css);
button {
  background-color: transparent;
  border: none;
}
.main__question-card__tag-wrapper li {
  list-style-type: none;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10vh;
}
.main__question-card {
  border: solid 1px black;
  background-color: #ffffff71;
  border-radius: 8px;
  margin: 5vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__question-card__bookmark {
  position: absolute;
  top: -10px;
  right: 15px;
  /* transition: var(--transition-standard); */
}
.main__question-card img {
  width: 10vw;
  height: 10vw;
}
.main__question-card__question {
  display: flex;
  justify-content: center;
  padding: 10vw;
  color: rgba(8, 8, 8, 0.849);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.main__question-card__show-answer {
  border: solid 3px var(--primary-color);
  margin: 0px 30px 30px 30px;
  font-size: var(--answer-font-size);
  font-family: var(--standard-font);
  color: black;
  background-color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 2px;
  width: 50vw;
  height: 8vh;
  border-radius: 8px;
}
.main__question-card__tag-wrapper {
  display: flex;
  width: 100%;
  margin: 4vw;
  gap: 7px;
  margin-bottom: 5px;
  padding-left: 10px;
  font-family: var(--standard-font);
}
.main__question-card__tag-wrapper li {
  color: black;
  background-color: var(--third-color);
  border-radius: 6px;
  padding: 5px;
  font-size: 11px;
}
.main__question-card__answer {
  margin: 10px;
  color: var(--primary-color);
  font-size: 5px;
  opacity: 0;
  padding: 5%;
  background-color: var(--background-color);
  border-radius: 8px;
}
.revealAnswer {
  font-size: var(--answer-font-size);
  opacity: 1;
  transition: all 0.7s ease-in;
  /* background-color: rgba(0, 0, 0, 0.411); */
}
.revealed {
  background-color: transparent;
  color: black;
  border-color: black;
}
.bookmarked {
  content: url("../images/bookmark_filled.png");
  /* box-shadow: red 0 0 20px 20px;
  background-color: red; */
  border-radius: 0%;
  animation: bookmarked 0.5s;
  border-radius: 8px;
}
/* .notBookmarked {
  animation: bookmarked 0.5s;
} */

@keyframes bookmarked {
  0% {
  }
  50% {
    transform: scale(1.2);
    /* box-shadow: rgba(0, 0, 0, 0.2) 2px 2px; */
    /* background-color: rgba(0, 0, 0, 0.2); */
  }
  0% {
  }
}
